:root {
  --primary-pale-blue: rgb(224, 232, 255);
  --primary-bright-blue: rgb(56, 41, 224);

  --neutral-pale-blue: hsl(225, 100%, 98%);
  --neutral-desaturated-blue: hsl(224, 23%, 55%);
  --neutral-dark-blue: hsl(223, 47%, 23%);
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Red Hat Display", sans-serif;
  font-size: 1.5rem;
  height: 100vh;
  background-color: var(--neutral-pale-blue);
  background-image: url(../images/pattern-background-desktop.svg);
  background-repeat: repeat-x;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: minmax(min-content, 50rem);
}

.container {
  /* border: 1px solid transparent; */
  box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.5);
  background-color: #fff;
  border-radius: 1rem;
  margin: 0 3.5rem;
}

.header-img {
  display: block;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  width: 100%;
}

.main {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  grid-row-gap: 4rem;
  padding: 3.5rem;
}

.container__text {
  text-align: center;
}
.heading-1 {
  font-size: 2.5rem;
}

.text {
  padding: 1.5rem 0.2rem 0 0.2rem;
  font-weight: 500;
  color: var(--neutral-dark-blue);
  line-height: 1.5;
}

.container__plan {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10rem;
  background-color: var(--neutral-pale-blue);
  border: 1px solid var(--primary-pale-blue);
  border-radius: 1rem;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3);
  padding: 0 2rem;
}

.plan-box {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.plan-link {
  font-weight: 700;
  color: var(--primary-dark-blue);
  cursor: pointer;
}

.plan-link:hover {
  color: var(--neutral-desaturated-blue);
  text-decoration: none;
}

.heading-2 {
  font-size: 1.5rem;
  font-weight: 900;
}

span {
  display: block;
  font-weight: 500;
  padding-top: 0.5rem;
  color: var(--neutral-desaturated-blue);
}

.container__pay {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.pay-btn {
  padding: 1.3rem 11rem;
  border-radius: 1rem;
  border: 1px solid var(--primary-pale-blue);
  background-color: var(--primary-bright-blue);
  box-shadow: 0 1rem 3rem rgba(56, 41, 41, 0.3);
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}

.pay-btn:hover {
  background-color: var(--neutral-desaturated-blue);
}

.pay-link {
  cursor: pointer;
  font-weight: 700;
  text-decoration: none;
  color: var(--neutral-desaturated-blue);
}

.pay-link:hover {
  color: var(--neutral-dark-blue);
}
.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 2.5rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 31.25em) {
  .main {
    padding: 3.5rem 2rem;
  }

  .text {
    padding: 1.5rem 2rem 0 2rem;
  }

  .container__plan {
    gap: 5rem;
  }

  .pay-btn {
    padding: 1.3rem 8rem;
  }
}

@media screen and (max-width: 25.93em) {
  html {
    font-size: 50%;
  }
} ;
